<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<!-- Column-->
<div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Bienvenido. </mat-card-title>

      <p>Buenos dias Sr(a) Operario.</p>
      <p>Con la aplicación de <b>brilliantic</b> puedes crear clientes, vehículos y generar ordenes de servicio. Estas opciones las podrás encontrar en el menu de la aplicacion.</p>

    </mat-card-content>
  </mat-card>
</div>
<!-- Column-->
