
<!-- ============================================================== -->
<!-- Gestion de Marcas por el ADMINISTRADOR DEL SISTEMA -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Column-->
  <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Gestion de las Marcas</mat-card-title>
        <mat-card-subtitle>Administrador Gestione las marcas de los vehiculos</mat-card-subtitle>

        <div class="example-button-row">
          <button mat-raised-button color="primary" [disabled]="marcaSelected" (click)="mostrarSeccionAdicionar()" >Adicionar</button>
          <button mat-raised-button color="primary" [disabled]="!marcaSelected" (click)="mostrarSeccionModificar()" >Modificar</button>
          <button mat-raised-button color="primary" [disabled]="!marcaSelected" (click)="eliminarObjeto()">Eliminar</button>
        </div>

        <br/>


        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%">
          <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Estado</th>
          </tr>
          </thead>
          <tbody *ngIf="marcas?.length != 0">
          <tr *ngFor="let marca of marcas; let row = index" [class.selected]="rowSelected === 'selected'+row" (click)="ClickRow(row, 'selected'+row)">
            <td>{{ marca.codigo }}</td>
            <td>{{ marca.nombre }}</td>
            <td>
              <mat-slide-toggle [checked]="marca.estado === 0 ? false : true" (change)="changeState(marca.codigo, marca.estado, $event)">
                {{marca.estado === 0 ? 'Inactivo' : 'Activo'}}
              </mat-slide-toggle>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="marcas?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No hay registros!</td>
          </tr>
          <tbody>
        </table>





      </mat-card-content>
    </mat-card>


    <mat-card *ngIf="accion == 'ADICIONAR' || accion == 'MODIFICAR'">
      <mat-card-content>
        <mat-card-title>Creacion y Edicion de Marcas</mat-card-title>
        <mat-card-subtitle>Administrador Agrege o Edite las marcas</mat-card-subtitle>

        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="basic-form">

              <ng-template matStepLabel>Informacion Basica</ng-template>


              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <!-- column -->
                <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10 errors-container">
                  <mat-form-field>
                    <input matInput formControlName="nombre" placeholder="Ingrese el nombre">
                  </mat-form-field>
                  <small *ngIf="firstFormGroup.controls['nombre'].hasError('required') && firstFormGroup.controls['nombre'].touched" class="text-danger support-text"> (El nombre es requerido)</small>
                  <small *ngIf="firstFormGroup.controls['nombre'].hasError('minlength') && firstFormGroup.controls['nombre'].touched" class="text-danger support-text"> (El nombre minimo de 3 letras) </small>
                  <small *ngIf="firstFormGroup.controls['nombre'].hasError('maxlength') && firstFormGroup.controls['nombre'].touched" class="text-danger support-text"> (El nombre maximo de 40 letras) </small>
                </div>

              </div>

              <div>
                <button mat-raised-button color="warn" matStepperNext [disabled]="!firstFormGroup.valid">Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="seleccionoFile">
            <form [formGroup]="secondFormGroup" class="basic-form">
              <ng-template matStepLabel>Seleccion de Foto</ng-template>

              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <!-- column -->
                <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">

                  <span style="color:#E91E63;" *ngIf="message">{{message}}</span>

                  <div class="pro-img">
                    <img [src]="objectImageToShow" alt="Imagen" *ngIf="!isImageLoading && imageLoadedComplete" width="180" />
                  </div>

                  <div class="btn btn-mdb-color btn-rounded float-left">
                    <input type="file" (change)="onFileChanged($event)" style="display: none" #fileInput accept='image/*' />
                    <button (click)="fileInput.click()" mat-raised-button color="primary">Seleccione la Foto</button>
                  </div>
                </div>

              </div>

              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Atras</button>
                <button mat-raised-button color="warn" matStepperNext [disabled]="!seleccionoFile">Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Confirmacion</ng-template>
            <h5>Por favor confirme.</h5>
            <div>
              <button mat-raised-button color="accent" matStepperPrevious>Atras</button>
              <button mat-raised-button color="warn" matStepperNext [disabled]="!firstFormGroup.valid || !seleccionoFile" (click)="adicionar()" *ngIf="accion == 'ADICIONAR'">Confirmar</button>
              <button mat-raised-button color="warn" matStepperNext [disabled]="!firstFormGroup.valid || !seleccionoFile" (click)="editar()" *ngIf="accion == 'MODIFICAR'">Confirmar</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>

      </mat-card-content>
    </mat-card>



  </div>

</div>

